* {
  margin: 0;
}

header {
  width: 100%;
  z-index: 1;
  position: fixed;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 2% 1% 2%;
  font-size: 1.6rem;
  color: white;
}

header img {
  display: none;
}

header #logo {
  width: 20%;
  margin-left: 3%;
}

header #logo label {
  color: white;
}

header span {
  color: #92e3a9;
}

header #navItem {
  width: 70%;
  margin-left: 45%;
}

header ul {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 0%;
}

.container1 {
  padding-top: 6%;
  padding-bottom: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #181818;
}

.container1 .tagLine {
  margin-left: 6%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.container1 .tagLine #label1 {
  font-weight: bolder;
  font-size: 2.8rem;
}

.container1 .tagLine #label2 {
  font-weight: bolder;
  font-size: 1rem;
}

.container1 .danceImage {
  margin-right: 6%;
  position: relative;
  width: 40%;
}

.container1 .danceImage img {
  margin-top: 0;
  height: 100%;
  width: 100%;
}

.container2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #181818;
}

.container2 #heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181818;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

.container2 #motherDiv {
  margin-top: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25%;
          column-gap: 25%;
}

.container2 #motherDiv #div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container2 #motherDiv label {
  margin-top: 20%;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

.container3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: #181818;
  color: white;
}

.container3 #heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-weight: bolder;
  font-size: 2rem;
}

.container3 #motherDiv {
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.container3 #motherDiv #div1 {
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #181818;
  border-radius: 8%;
  -webkit-box-shadow: 0px 7px 7px rgba(166, 160, 160, 0.25);
          box-shadow: 0px 7px 7px rgba(166, 160, 160, 0.25);
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.container3 #motherDiv #div1 #label1 {
  background-color: #181818;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 7%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  font-weight: bolder;
}

.container3 #motherDiv #div1 ul {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 5%;
}

.container3 #motherDiv #div1 ul li {
  margin-bottom: 10%;
}

.container3 #motherDiv #div1 #label2 {
  background-color: #181818;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  font-weight: bolder;
}

.container3 #motherDiv #div2 {
  width: 18%;
  background-color: #2b2a2a;
  color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8%;
  -webkit-box-shadow: 0px 7px 7px rgba(229, 147, 32, 0.25);
          box-shadow: 0px 7px 7px rgba(229, 147, 32, 0.25);
  background-color: #ef5734;
  background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

.container3 #motherDiv #div2 #label3 {
  background-color: #181818;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 7%;
  margin-bottom: 5%;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.container3 #motherDiv #div2 ul {
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 5%;
}

.container3 #motherDiv #div2 ul li {
  margin-bottom: 10%;
}

.container3 #motherDiv #div2 #label4 {
  background-color: #181818;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  font-weight: bolder;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2b2a2a;
}

footer label {
  font-size: 1.2rem;
  margin-top: 3%;
}

footer #label1 {
  text-decoration: underline;
  -webkit-text-decoration-color: #92e3a9;
          text-decoration-color: #92e3a9;
}

footer #logo {
  width: 50%;
  color: white;
  font-weight: bolder;
}

footer #logo div {
  margin-top: 5%;
  margin-left: 5%;
}

footer #logo span {
  color: #92e3a9;
}

footer #motherDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  padding-bottom: 2%;
  padding-left: 2%;
  color: white;
}

footer #motherDiv #club {
  margin-top: 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

footer #motherDiv #socialMedia {
  margin-top: 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

/*
The screen resolutions of different devices are listed below:

Mobile (Smartphone) max-width: 480px
Low Resolution Tablets and ipads max-width: 767px
Tablets Ipads portrait mode max-width:1024px
Desktops max-width:1280px
Huge size (Larger screen) max-width: 1281px and greater

*/
@media screen and (max-width: 320px) {
  header {
    height: 1em;
  }
  header #logo {
    margin-left: 0em;
  }
  header #menu {
    margin-right: .35em;
  }
  .container1 {
    font-size: .9em;
    margin-left: 0em;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: #181818;
  }
  header {
    width: 100%;
    font-size: 1.4em;
    position: fixed;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 9em;
            column-gap: 9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  header nav {
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    position: fixed;
    text-transform: uppercase;
    background-color: #2b2a2a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  header nav ul {
    margin-top: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1em;
    height: 4em;
  }
  header nav ul li {
    margin-bottom: 1.5em;
  }
  header nav img {
    padding-left: 9em;
    padding-top: 2em;
  }
  header img {
    display: inline;
    width: 1.1em;
    height: 1.1em;
  }
  header #logo {
    width: 4em;
  }
  .container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container1 .tagLine {
    margin-top: 3em;
    width: 100%;
  }
  .container1 .tagLine #label1 {
    font-size: 2.5em;
  }
  .container1 .danceImage {
    display: none;
  }
  .container1 #span1 {
    color: #5385e3;
  }
  .container1 #span2 {
    color: #d1df72;
  }
  .container1 #span3 {
    color: #f83c3c;
  }
  .container1 #span4 {
    color: #49efe9;
  }
  .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container2 #heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 2em;
  }
  .container2 #motherDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container2 #motherDiv #div1 {
    margin-top: 10%;
  }
  .container2 #motherDiv #div1 img {
    width: 7em;
    margin-top: 4%;
  }
  .container2 #motherDiv #div1 label {
    margin-top: 2%;
  }
  .container3 #motherDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 4em;
  }
  .container3 #motherDiv #div1 {
    width: 75%;
  }
  .container3 #motherDiv #div2 {
    width: 75%;
  }
  footer #logo {
    width: 30%;
  }
  footer #logo div {
    margin-top: 2em;
  }
  footer #motherDiv {
    width: 70%;
    font-size: x-small;
  }
  footer #motherDiv #club label {
    font-size: 1.7em;
  }
  footer #motherDiv #socialMedia label {
    font-size: 1.7em;
  }
  .open-nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
    background-color: #181818;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1em;
    padding-left: 0em;
  }
  header #logo {
    width: 7em;
  }
  .container2 #motherDiv {
    -webkit-column-gap: 16%;
            column-gap: 16%;
  }
  .container3 #motherDiv #div1,
  .container3 #motherDiv #div2 {
    width: 34%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  body {
    background-color: #181818;
  }
  .container1 {
    font-size: 0.7em;
  }
  .container3 #motherDiv #div1,
  .container3 #motherDiv #div2 {
    width: 27%;
  }
}

@media screen and (max-device-width: 1440px) and (min-device-width: 1024px) {
  body {
    background-color: #181818;
  }
  .container1 .tagLine #label1 {
    font-size: 5em;
  }
  .container1 .tagLine #label2 {
    font-size: 2em;
  }
}

/*
@media screen and (max-width: 2560px) and (min-width: 1441px) {
  body {
    background-color: #181818;
  }
  header {
    font-size: 3.5em;
  }
  .container1 {
    .tagLine {
      #label1 {
        font-size: 7em;
      }
      #label2 {
        font-size: 4em;
      }
    }
  }

  .container2 {
    #heading {
      font-size: 4em;
    }
    #motherDiv {
      #div1 {
        img {
          width: 13em;
        }
        label {
          font-size: 3em;
        }
      }
    }
  }
  .container3 {
    #heading {
      font-size: 4em;
    }
    #motherDiv {
      #div1 {
        width: 25%;
        #label1,
        #label2 {
          font-size: 3.5em;
        }
        ul {
          font-size: 3em;
        }
      }
      #div2 {
        width: 25%;
        #label3,
        #label4 {
          font-size: 3.5em;
        }
        ul {
          font-size: 3em;
        }
      }
    }
  }
  footer{
    #logo, #motherDiv{
      label{
        font-size: 3em;
      }
    }
  }
}
*/
/*# sourceMappingURL=main.css.map */